#main-container{
  height: 400px;
  width: 400px;
  border: solid;
  border-radius: 10%;
}

#display-container{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#calc-display{
  border: solid;
  height: 80px;
  font-size: 28px;
  text-align: right;
  border-radius: 10px;
}

button{
  font-size: 32px;
  border: solid;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.numbers{
  background-color: aquamarine;
}

.math{
  background-color: rgb(106, 121, 120);
}

#btn-equals{
  background-color: blue;
}

#btn-row-1{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

#btn-row-1 button{
  width: fit-content;
}

.btn-row{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.spacer{
  display: none;
}

.number, .operand, #btn-decimal, #btn-equals{
  border-radius: 50%;
}